(
    palette: Dark((
        name: "cosmic-dark",
        bright_red: "{{ palettes.error._80.hex }}",
        bright_green: "{{ palettes.primary._70.hex }}",
        bright_orange: "{{ palettes.tertiary._80.hex }}",
        gray_1: "{{ palettes.neutral._10.hex }}",
        gray_2: "{{ palettes.neutral._20.hex }}",
        neutral_0: "{{ palettes.neutral._0.hex }}",
        neutral_1: "{{ palettes.neutral._10.hex }}",
        neutral_2: "{{ palettes.neutral._20.hex }}",
        neutral_3: "{{ palettes.neutral._30.hex }}",
        neutral_4: "{{ palettes.neutral._40.hex }}",
        neutral_5: "{{ palettes.neutral._50.hex }}",
        neutral_6: "{{ palettes.neutral._60.hex }}",
        neutral_7: "{{ palettes.neutral._70.hex }}",
        neutral_8: "{{ palettes.neutral._80.hex }}",
        neutral_9: "{{ palettes.neutral._90.hex }}",
        neutral_10: "{{ palettes.neutral._100.hex }}",
        accent_blue: "{{ palettes.tertiary._80.hex }}",
        accent_indigo: "{{ palettes.tertiary._70.hex }}",
        accent_purple: "{{ palettes.tertiary._90.hex }}",
        accent_pink: "{{ palettes.error._90.hex }}",
        accent_red: "{{ palettes.error._80.hex }}",
        accent_orange: "{{ palettes.tertiary._80.hex }}",
        accent_yellow: "{{ palettes.primary._90.hex }}",
        accent_green: "{{ palettes.primary._80.hex }}",
        accent_warm_grey: "{{ palettes.neutral_variant._80.hex }}",
        ext_warm_grey: "{{ palettes.neutral_variant._70.hex }}",
        ext_orange: "{{ palettes.tertiary._80.hex }}",
        ext_yellow: "{{ palettes.primary._90.hex }}",
        ext_blue: "{{ palettes.tertiary._70.hex }}",
        ext_purple: "{{ palettes.tertiary._90.hex }}",
        ext_pink: "{{ palettes.error._70.hex }}",
        ext_indigo: "{{ palettes.tertiary._60.hex }}",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some("{{ palettes.neutral._20.hex }}"),
    bg_color: Some("{{ colors.background.dark.hex }}"),
    primary_container_bg: Some("{{ colors.primary_container.dark.hex }}"),
    secondary_container_bg: None,
    text_tint: Some("{{ colors.on_surface.dark.hex }}"),
    accent: Some("{{ colors.primary.dark.hex }}"),
    success: Some("{{ colors.primary.dark.hex }}"),
    warning: Some("{{ colors.tertiary.dark.hex }}"),
    destructive: Some("{{ colors.error.dark.hex }}"),
    frosted: Medium,
    gaps: (0, 3),
    active_hint: 1,
    window_hint: None,
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)
