"$schema" = "https://starship.rs/config-schema.json"

# move the rest of the prompt to the right
right_format = """$all$time"""
# A minimal left prompt
format = """$directory${custom.giturl}$git_branch$git_state$git_status$character"""

palette = "myconfig_dark"

[palettes.myconfig_dark]
color_fg0 = "{{colors.on_surface.dark.hex}}"
color_bg1 = "{{colors.surface.dark.hex}}"
color_bg3 = "{{colors.surface_variant.dark.hex}}"
color_blue = "{{colors.primary.dark.hex}}"
color_aqua = "{{colors.tertiary.dark.hex}}"
color_green = "{{colors.secondary.dark.hex}}"
color_orange = "{{colors.error.dark.hex}}"
color_purple = "{{colors.primary_container.dark.hex}}"
color_red = "{{colors.error_container.dark.hex}}"
color_yellow = "{{colors.tertiary_container.dark.hex}}"
lavender = "#b4befe"
black = "#000000"
peach = "#fab387"
text = "#cdd6f4"
# lavender = "{{dank16.color4.dark.hex}}"
# black = "{{dank16.color0.dark.hex}}"
# peach = "{{dank16.color11.dark.hex}}"
# text = "{{colors.on_background.dark.hex}}"


# [palettes.myconfig_dark]
# color_fg0 = '#fbf1c7'
# color_bg1 = '#3c3836'
# color_bg3 = '#665c54'
# color_blue = '#458588'
# color_aqua = '#689d6a'
# color_green = '#98971a'
# color_orange = '#d65d0e'
# color_purple = '#b16286'
# color_red = '#cc241d'
# color_yellow = '#d79921'
# lavender = "#b4befe"
# black = "#000000"
# peach = "#fab387"
# text = "#cdd6f4"

# [palettes.custom]
# rosewater = "#f5e0dc"
# flamingo = "#eb6f92"
# pink = "#f5c2e7"
# orange = "#cba6f7"
# color_red = '#cc241d'
# red = "#f38ba8"
# maroon = "#eba0ac"
# peach = "#fab387"
# yellow = "#f9e2af"
# green = "#a6e3a1"
# teal = "#94e2d5"
# sky = "#89dceb"
# sapphire = "#74c7ec"
# blue = "#89b4fa"
# lavender = "#b4befe"
# foam = "#9ccfd8"
# pine = "#31748f"
# gold = "#f6c177"
# rose = "#ebbcba"
# text = "#cdd6f4"
# subtext1 = "#bac2de"
# subtext0 = "#a6adc8"
# overlay2 = "#9399b2"
# overlay1 = "#7f849c"
# overlay0 = "#6c7086"
# surface2 = "#585b70"
# surface1 = "#45475a"
# surface0 = "#313244"
# base = "#1e1e2e"
# mantle = "#181825"
# crust = "#11111b"

[custom.giturl]
# disabled = true
description = "Display symbol for remote Git server"
command = """
GIT_REMOTE=$(command git ls-remote --get-url 2> /dev/null)
if [[ "$GIT_REMOTE" =~ "github" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "gitlab" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "bitbucket" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "git" ]]; then
    GIT_REMOTE_SYMBOL="" # 
else
    GIT_REMOTE_SYMBOL=" "
fi
echo "$GIT_REMOTE_SYMBOL "
"""
when = 'git rev-parse --is-inside-work-tree 2> /dev/null'
format = "at $output"

[git_branch]
symbol = "[](black) "
# format =  ' [$symbol$branch(:$remote_branch)]($style)[]'
style = "fg:lavender bg:black"
format =  '  on [$symbol$branch]($style)[](black)'

[git_status]
format = ' [($all_status$ahead_behind )]($style)'

[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[time]
disabled = false
# symbol = "[](black) "
# style = "fg:#1d2230"
style = "fg:peach bg:black"
format = "[ ](black)[$symbol $time ]($style) "

# format =  ' [$symbol$branch(:$remote_branch)]($style)[]'
# style = "fg:lavender bg:black"
# format =  '  on [$symbol$branch]($style)[](black)'

# [directory]
[directory]
# style = "fg:#769ff0" #fg:#e3e5e5
style = "fg:color_blue" #fg:#e3e5e5
read_only = " 󰌾"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"documents" = "󰈙 "
"Downloads" = " "
"downloads" = " "
"Music" = " "
"music" = " "
"Pictures" = " "
"pictures" = " "
"Videos" = " "
"videos" = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

# [git_branch]
# symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[line_break]
disabled = false

# [character]
# disabled = false
# success_symbol = "[](bold fg:color_green)"
# error_symbol = "[](bold fg:color_red)"
# vimcmd_symbol = "[](bold fg:color_green)"
# vimcmd_replace_one_symbol = "[](bold fg:color_purple)"
# vimcmd_replace_symbol = "[](bold fg:color_purple)"
# vimcmd_visual_symbol = "[](bold fg:color_yellow)"

