@define-color background-color rgba(27, 43, 41, 0.8);
@define-color border-color #AEE9D1;
@define-color label #AEE9D1;
@define-color image #AEE9D1;
@define-color progress #AEE9D1;


window {
  border-radius: 20px;
  opacity: 0.85;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
