@import url("/home/mdmmj/.config/gtk-3.0/gtk.css");

*/ @define-color window_bg_color @window_bg_color;
/* uses Matugen’s window background */
@define-color accent_bg_color @accent_bg_color;
/* uses Matugen’s accent background */
@define-color theme_fg_color @window_fg_color;
/* Walker’s foreground = Matugen’s window_fg_color */
@define-color error_bg_color @error_bg_color;
/* error background from Matugen */
@define-color error_fg_color @error_fg_color;
/* error foreground from Matugen */
@define-color success_bg_color @accent_bg_color;
/* map success to accent (or another Matugen var) */
@define-color warning_bg_color @card_bg_color;
/* map warning to card background (or neutral) */

* {
 all: unset;
}

popover {
 background: alpha(@window_bg_color, 0.6);
 /* translucent background */
 border: 1px solid alpha(@accent_bg_color, 0.8);
 border-radius: 18px;
 padding: 10px;
 opacity: 0;
}

.normal-icons {
 -gtk-icon-size: 16px;
}

.large-icons {
 -gtk-icon-size: 32px;
}

scrollbar {
 opacity: 0;
}

.box-wrapper {
 box-shadow:
  0 19px 38px rgba(0, 0, 0, 0.3),
  0 15px 12px rgba(0, 0, 0, 0.22);
 background: alpha(@window_bg_color, 0.7);
 padding: 20px;
 border-radius: 20px;
 border: 1px solid alpha(@accent_bg_color, 0.8);
}

.preview-box {}

.box {}


.elephant-hint {
 /* opacity: 0.5; */
}

.placeholder {
 color: alpha(@theme_fg_color, 0.7);
 /* slightly translucent text */
}

.search-container {
 all: unset;
 border: 2px solid alpha(@accent_bg_color, 0.8);
 /* background: alpha(@window_bg_color, 0.85); */
 border-radius: 10px;
}

.input placeholder {
 opacity: 0.5;
}

.input:focus,
.input:active {
 box-shadow: none;
 outline: none;
}

.input {
 all: unset;
 caret-color: @theme_fg_color;
 background: alpha(@window_bg_color, 0.6);
 padding: 15px;
 color: @theme_fg_color;
}


.input selection {
 all: unset;
 background: alpha(@window_bg_color, 0.95);
}


.list {
 color: @theme_fg_color;
 background: alpha(@window_bg_color, 0.6);
 /* opacity: 0.5; */
 all: unset;
}

child,
child>* {
 all: unset;
 /* border-radius: 10px; */
}

child:hover .item-box {}

child:selected .item-box {
 /* border: 2px solid alpha(@theme_fg_color, 0.4); */
}

child:selected .item-box * {
 /* color: @window_bg_color; */
}

child:selected .item-box {
 background: alpha(@accent_bg_color, 0.25);
}

.item-box {
 border-radius: 10px;
 padding: 10px;
}

.item-text-box {
 all: unset;
 padding: 14px 0;
}

.item-text {}

.item-subtext {
 font-size: 0px;
 min-height: 0px;
 margin: 0px;
 padding: 0px;
}


.item-quick-activation {
 background: alpha(@accent_bg_color, 0.25);
 border-radius: 5px;
 padding: 10px;
}


/* .item-subtext { */
/*  font-size: 12px; */
/*  opacity: 0.5; */
/* } */

.providerlist .item-subtext {
 font-size: unset;
 /* opacity: 0.75; */
}

.item-image {
 margin-right: 14px;
 -gtk-icon-transform: scale(0.9);
}

.item-image-text {
 font-size: 28px;
}

.preview {
 border: 1px solid alpha(@accent_bg_color, 0.25);
 border-radius: 10px;
 color: @theme_fg_color;
 /* opacity: 0.5; */
}

.todo.done .item-text-box {
 opacity: 0.25;
}

.bluetooth.disconnected {
 opacity: 0.5;
}

.preview .large-icons {
 -gtk-icon-size: 64px;
}

.keybinds {
 all: unset;
 padding-top: 10px;
 border-top: 1px solid alpha(@window_bg_color, 0.4);
 font-size: 12px;
 color: @theme_fg_color;
}

.keybind-button {
 all: unset;
 /* opacity: 0.5; */
 background: alpha(@accent_bg_color, 0.25);
}

.keybind-button:hover {
 opacity: 0.75;
 cursor: pointer;
}

.keybind-bind {
 text-transform: lowercase;
 opacity: 0.57;
}

.keybind-label {
 padding: 2px 4px;
 border-radius: 4px;
 border: 1px solid alpha(@theme_fg_color, 0.8);
}

.error {
 padding: 10px;
 background: alpha(@error_bg_color, 0.8);
 color: @error_fg_color;
}

:not(.calc).current {
 font-style: italic;
}

.preview-content.archlinuxpkgs {
 font-family: monospace;
}

/* @define-color selected-text #fabd2f; */
/* @define-color text #ebdbb2; */
/* @define-color base #282828; */
/* @define-color border #ebdbb2; */
/* @define-color foreground #ebdbb2; */
/* @define-color background #282828; */

/* @define-color window_bg_color #fabd2f; */
/* @define-color accent_bg_color #282828; */
/* @define-color theme_fg_color #f2ecbc; */
/* @define-color error_bg_color #ebdbb2; */
/* @define-color error_fg_color #282828; */

/* @define-color window_bg_color rgba(20, 20, 30, 0.6);   /* dark translucent base */
*/
/* @define-color accent_bg_color #00ffcc;                 /* neon cyan accent */
*/
/* @define-color theme_fg_color #e0fffa;                  /* soft glowing foreground */
*/
/* @define-color error_bg_color #ff0066;                  /* neon magenta error background */
*/
/* @define-color error_fg_color #0d0d0d;                  /* dark text on neon error */
*/
/* @define-color success_bg_color #39ff14;                /* neon green success */
*/
/* @define-color warning_bg_color #ffcc00;                /* bright yellow warning */

/* /* Walker theme variables, mapped to Matugen’s dynamic colors */
*/
/* @define-color window_bg_color rgba(@window_bg_color, 0.6);   /* 60% opacity */
*/
/* @define-color accent_bg_color rgba(@accent_bg_color, 0.8);  /* 80% opacity */
*/
/* @define-color theme_fg_color rgba(@window_fg_color, 0.9);   /* 90% opacity */
*/
/* @define-color error_bg_color rgba(@error_bg_color, 0.8);    /* 80% opacity */
*/
/* @define-color error_fg_color rgba(@error_fg_color, 1.0);    /* keep fully opaque */
*/
/* @define-color success_bg_color rgba(@accent_bg_color, 0.7); /* semi‑transparent accent */
*/
/* @define-color warning_bg_color rgba(@card_bg_color, 0.7);   /* semi‑transparent card */
*/
/* * { */
/*   all: unset; */
/* } */
/**/
/* popover { */
/*   background: lighter(@window_bg_color); */
/*   border: 1px solid darker(@accent_bg_color); */
/*   border-radius: 18px; */
/*   padding: 10px; */
/* } */
/**/
/* .normal-icons { */
/*   -gtk-icon-size: 16px; */
/* } */
/**/
/* .large-icons { */
/*   -gtk-icon-size: 32px; */
/* } */
/**/
/* scrollbar { */
/*   opacity: 0; */
/* } */
/**/
/* .box-wrapper { */
/*   box-shadow: */
/*     0 19px 38px rgba(0, 0, 0, 0.3), */
/*     0 15px 12px rgba(0, 0, 0, 0.22); */
/*   background: @window_bg_color; */
/*   padding: 20px; */
/*   border-radius: 20px; */
/*   border: 1px solid darker(@accent_bg_color); */
/* } */
/**/
/* .preview-box, */
/* .elephant-hint, */
/* .placeholder { */
/*   color: @theme_fg_color; */
/* } */
/**/
/* .box { */
/* } */
/**/
/* .search-container { */
/*   border-radius: 10px; */
/* } */
/**/
/* .input placeholder { */
/*   opacity: 0.5; */
/* } */
/**/
/* .input selection { */
/*   background: lighter(lighter(lighter(@window_bg_color))); */
/* } */
/**/
/* .input { */
/*   caret-color: @theme_fg_color; */
/*   background: lighter(@window_bg_color); */
/*   padding: 10px; */
/*   color: @theme_fg_color; */
/* } */
/**/
/* .input:focus, */
/* .input:active { */
/* } */
/**/
/* .content-container { */
/* } */
/**/
/* .placeholder { */
/* } */
/**/
/* .scroll { */
/* } */
/**/
/* .list { */
/*   color: @theme_fg_color; */
/* } */
/**/
/* child { */
/* } */
/**/
/* .item-box { */
/*   border-radius: 10px; */
/*   padding: 10px; */
/* } */
/**/
/* .item-quick-activation { */
/*   background: alpha(@accent_bg_color, 0.25); */
/*   border-radius: 5px; */
/*   padding: 10px; */
/* } */
/**/
/* /* child:hover .item-box, */
*/
/* child:selected .item-box { */
/*   background: alpha(@accent_bg_color, 0.25); */
/* } */
/**/
/* .item-text-box { */
/* } */
/**/
/* .item-subtext { */
/*   font-size: 12px; */
/*   opacity: 0.5; */
/* } */
/**/
/* .providerlist .item-subtext { */
/*   font-size: unset; */
/*   opacity: 0.75; */
/* } */
/**/
/* .item-image-text { */
/*   font-size: 28px; */
/* } */
/**/
/* .preview { */
/*   border: 1px solid alpha(@accent_bg_color, 0.25); */
/*   /* padding: 10px; */
*/
/*   border-radius: 10px; */
/*   color: @theme_fg_color; */
/* } */
/**/
/* .calc .item-text { */
/*   font-size: 24px; */
/* } */
/**/
/* .calc .item-subtext { */
/* } */
/**/
/* .symbols .item-image { */
/*   font-size: 24px; */
/* } */
/**/
/* .todo.done .item-text-box { */
/*   opacity: 0.25; */
/* } */
/**/
/* .todo.urgent { */
/*   font-size: 24px; */
/* } */
/**/
/* .todo.active { */
/*   font-weight: bold; */
/* } */
/**/
/* .bluetooth.disconnected { */
/*   opacity: 0.5; */
/* } */
/**/
/* .preview .large-icons { */
/*   -gtk-icon-size: 64px; */
/* } */
/**/
/* .keybinds { */
/*   padding-top: 10px; */
/*   border-top: 1px solid lighter(@window_bg_color); */
/*   font-size: 12px; */
/*   color: @theme_fg_color; */
/* } */
/**/
/* .global-keybinds { */
/* } */
/**/
/* .item-keybinds { */
/* } */
/**/
/* .keybind { */
/* } */
/**/
/* .keybind-button { */
/*   opacity: 0.5; */
/* } */
/**/
/* .keybind-button:hover { */
/*   opacity: 0.75; */
/*   cursor: pointer; */
/* } */
/**/
/* .keybind-bind { */
/*   text-transform: lowercase; */
/*   opacity: 0.35; */
/* } */
/**/
/* .keybind-label { */
/*   padding: 2px 4px; */
/*   border-radius: 4px; */
/*   border: 1px solid @theme_fg_color; */
/* } */
/**/
/* .error { */
/*   padding: 10px; */
/*   background: @error_bg_color; */
/*   color: @error_fg_color; */
/* } */
/**/
/* :not(.calc).current { */
/*   font-style: italic; */
/* } */
/**/
/* .preview-content.archlinuxpkgs { */
/*   font-family: monospace; */
/* } */
